body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h3 {
  color: #212529;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}
label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

textarea, input, select, button {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

textarea:focus, input:focus, select:focus, button:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.success {
  color: green;
  font-size: 0.9rem;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.report-data {
  background-color: #e9ecef;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

.div-warning {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff4e5;
  color: #d97706; /* Ciepły pomarańczowy kolor */
  border: 1px solid #f59e0b;
  margin-top: 1rem;
  font-weight: bold;
  gap: 8px; /* Odstęp między ikoną a tekstem */
  box-sizing: border-box;
}

.message-container {
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  border-color: #212529;
  border: 1px solid rgb(106, 160, 231);
  box-sizing: border-box;
  border-radius: 10px;
}